{% extends 'bookcharacter/new.html.twig' %}
{#-------------------------------------------------------------------------------------------------#}
    {% block gender_female %}
        {% if gender  == 'female' %}checked{% endif %}
    {% endblock %}
    {% block gender_male %}
        {% if gender  == 'male' %}checked{% endif %}
    {% endblock %}
    {% block gender_other %}
        {% if gender  == 'other' %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block species_human %}
        {% if species == 'human' %}checked{% endif %}
    {% endblock %}
    {% block species_shapeshifter %}
        {% if species == 'shapeshifter' %}checked{% endif %}
    {% endblock %}
    {% block species_notHuman %}
        {% if species == 'notHuman' %}checked{% endif %}
    {% endblock %}
    {% block species_childOfHumanAndNotHuman %}
        {% if species == 'childOfHumanAndNotHuman' %}checked{% endif %}
    {% endblock %}
    {% block species_childOfDifferentNotHumans %}
        {% if species == 'childOfDifferentNotHumans' %}checked{% endif %}
    {% endblock %}
    {% block species_other %}
        {% if species == 'other' %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block age_child %}
        {% if age == 'child' %}checked{% endif %}
    {% endblock %}
    {% block age_teenager %}
        {% if age == 'teenager' %}checked{% endif %}
    {% endblock %}
    {% block age_adult %}
        {% if age == 'adult' %}checked{% endif %}
    {% endblock %}
    {% block age_ancient %}
        {% if age == 'ancient' %}checked{% endif %}
    {% endblock %}
    {% block age_otherAge %}
        {% if age == 'otherAge' %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block ability_magic %}
        {% if 'magic' in  ability %}checked{% endif %}
    {% endblock %}
    {% block ability_flying %}
        {% if 'flying' in  ability %}checked{% endif %}
    {% endblock %}
    {% block ability_teleportation %}
        {% if 'teleportation' in  ability %}checked{% endif %}
    {% endblock %}
    {% block ability_telekinesis %}
        {% if 'telekinesis' in  ability %}checked{% endif %}
    {% endblock %}
    {% block ability_invisibility %}
        {% if 'invisibility' in  ability %}checked{% endif %}
    {% endblock %}
    {% block ability_telepathy %}
        {% if 'telepathy' in  ability %}checked{% endif %}
    {% endblock %}
    {% block ability_foreseeFuture %}
        {% if 'foreseeFuture' in  ability %}checked{% endif %}
    {% endblock %}
    {% block ability_seeingPast %}
        {% if 'seeingPast' in  ability %}checked{% endif %}
    {% endblock %}
    {% block ability_otherAbility %}
        {% if 'otherAbility' in  ability %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block occupation_warrior %}
        {% if 'warrior' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_hunter %}
        {% if 'hunter' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_policeman %}
        {% if 'policeman' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_privateEye %}
        {% if 'privateEye' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_killer %}
        {% if 'killer' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_thief %}
        {% if 'thief' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_healer %}
        {% if 'healer' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_physician %}
        {% if 'physician' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_scholar %}
        {% if 'scholar' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_teacher %}
        {% if 'teacher' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_student %}
        {% if 'student' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_pupil %}
        {% if 'pupil' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_journalist %}
        {% if 'journalist' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_broker %}
        {% if 'broker' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_architect %}
        {% if 'architect' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_bard %}
        {% if 'bard' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_musician %}
        {% if 'musician' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_actor %}
        {% if 'actor' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_carMechanic %}
        {% if 'carMechanic' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_cook %}
        {% if 'cook' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_otherOccupation %}
        {% if 'otherOccupation' in  occupation %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block notHuman_biblicalCharacter %}
        {% if 'biblicalCharacter' in  notHuman %}checked{% endif %}
    {% endblock %}
    {% block notHuman_mythologicalCreature %}
        {% if 'mythologicalCreature' in  notHuman %}checked{% endif %}
    {% endblock %}
    {% block notHuman_otherNotHuman %}
        {% if 'otherNotHuman' in  notHuman %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block mythology_celtic %}
        {% if 'celtic' in  mythology %}checked{% endif %}
    {% endblock %}
    {% block mythology_egyptian %}
        {% if 'egyptian' in  mythology %}checked{% endif %}
    {% endblock %}
    {% block mythology_greek %}
        {% if 'greek' in  mythology %}checked{% endif %}
    {% endblock %}
    {% block mythology_indian %}
        {% if 'indian' in  mythology %}checked{% endif %}
    {% endblock %}
    {% block mythology_norse %}
        {% if 'norse' in  mythology %}checked{% endif %}
    {% endblock %}
    {% block mythology_roman %}
        {% if 'roman' in  mythology %}checked{% endif %}
    {% endblock %}
    {% block mythology_slavic %}
        {% if 'slavic' in  mythology %}checked{% endif %}
    {% endblock %}
    {% block mythology_otherMythology %}
        {% if 'otherMythology' in  mythology %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block biblicalCharacter_angel %}
        {% if 'angel' in  biblicalCharacter %}checked{% endif %}
    {% endblock %}
    {% block biblicalCharacter_devil %}
        {% if 'devil' in  biblicalCharacter %}checked{% endif %}
    {% endblock %}
    {% block biblicalCharacter_demon %}
        {% if 'demon' in  biblicalCharacter %}checked{% endif %}
    {% endblock %}
    {% block biblicalCharacter_otherBiblicalCharacters %}
        {% if 'otherBiblicalCharacters' in  biblicalCharacter %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block mythologicalCreature_god %}
        {% if 'god' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
    {% block mythologicalCreature_demigod %}
        {% if 'demigod' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
    {% block mythologicalCreature_nymph %}
        {% if 'nymph' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
    {% block mythologicalCreature_giant %}
        {% if 'giant' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
    {% block mythologicalCreature_elf %}
        {% if 'elf' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
    {% block mythologicalCreature_dwarf %}
        {% if 'dwarf' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
    {% block mythologicalCreature_troll %}
        {% if 'troll' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
    {% block mythologicalCreature_orc %}
        {% if 'orc' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
    {% block mythologicalCreature_otherMythologicalCreatures %}
        {% if 'otherMythologicalCreatures' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block animalBeast_dragon %}
        {% if 'dragon' in  animalBeast %}checked{% endif %}
    {% endblock %}
    {% block animalBeast_griffin %}
        {% if 'griffin' in  animalBeast %}checked{% endif %}
    {% endblock %}
    {% block animalBeast_harpy %}
        {% if 'harpy' in  animalBeast %}checked{% endif %}
    {% endblock %}
    {% block animalBeast_thunderbird %}
        {% if 'thunderbird' in  animalBeast %}checked{% endif %}
    {% endblock %}
    {% block animalBeast_wolf %}
        {% if 'wolf' in  animalBeast %}checked{% endif %}
    {% endblock %}
    {% block animalBeast_bear %}
        {% if 'bear' in  animalBeast %}checked{% endif %}
    {% endblock %}
    {% block animalBeast_coyote %}
        {% if 'coyote' in  animalBeast %}checked{% endif %}
    {% endblock %}
    {% block animalBeast_hyena %}
        {% if 'hyena' in  animalBeast %}checked{% endif %}
    {% endblock %}
    {% block animalBeast_otherAnimalBeastCreatures %}
        {% if 'otherAnimalBeastCreatures' in  animalBeast %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block otherCreature_vampire %}
        {% if 'vampire' in  otherCreature %}checked{% endif %}
    {% endblock %}
    {% block otherCreature_zombie %}
        {% if 'zombie' in  otherCreature %}checked{% endif %}
    {% endblock %}
    {% block otherCreature_alien %}
        {% if 'alien' in  otherCreature %}checked{% endif %}
    {% endblock %}
    {% block otherCreature_hobbit %}
        {% if 'hobbit' in  otherCreature %}checked{% endif %}
    {% endblock %}
    {% block otherCreature_otherCreature %}
        {% if 'otherCreature' in  otherCreature %}checked{% endif %}
    {% endblock %}



    {% block submitBook %}
        <button type="submit">Edit book </button>
    {% endblock %}

    {% block buttonsBlock %}
        <a href="{{ path('editor_bookcharacter_index') }}">Back to the list</a>

        {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    {% endblock %}