{% extends 'characterfrombook/new.html.twig' %}

{% block sidenav %}
    <a href="{{ path('editor_characterfrombook_index') }}">Back to the list</a>

    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}

{#-------------------------------------------------------------------------------------------------#}
    {% block gender_female %}
        {% if gender  == 'gender.female' %}checked{% endif %}
    {% endblock %}
    {% block gender_male %}
        {% if gender  == 'gender.male' %}checked{% endif %}
    {% endblock %}
    {% block gender_other %}
        {% if gender  == 'gender.other' %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block species_human %}
        {% if species == 'species.human' %}checked{% endif %}
    {% endblock %}
    {% block species_shapeshifter %}
        {% if species == 'species.shapeshifter' %}checked{% endif %}
    {% endblock %}
    {% block species_notHuman %}
        {% if species == 'species.notHuman' %}checked{% endif %}
    {% endblock %}
    {% block species_childOfHumanAndNotHuman %}
        {% if species == 'species.childOfHumanAndNotHuman' %}checked{% endif %}
    {% endblock %}
    {% block species_childOfDifferentNotHumans %}
        {% if species == 'species.childOfDifferentNotHumans' %}checked{% endif %}
    {% endblock %}
    {% block species_other %}
        {% if species == 'species.other' %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block age_child %}
        {% if age == 'age.child' %}checked{% endif %}
    {% endblock %}
    {% block age_teenager %}
        {% if age == 'age.teenager' %}checked{% endif %}
    {% endblock %}
    {% block age_adult %}
        {% if age == 'age.adult' %}checked{% endif %}
    {% endblock %}
    {% block age_ancient %}
        {% if age == 'age.ancient' %}checked{% endif %}
    {% endblock %}
    {% block age_otherAge %}
        {% if age == 'age.other' %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block ability_magic %}
        {% if 'ability.magic' in  ability %}checked{% endif %}
    {% endblock %}
    {% block ability_flying %}
        {% if 'ability.flying' in  ability %}checked{% endif %}
    {% endblock %}
    {% block ability_teleportation %}
        {% if 'ability.teleportation' in  ability %}checked{% endif %}
    {% endblock %}
    {% block ability_telekinesis %}
        {% if 'ability.telekinesis' in  ability %}checked{% endif %}
    {% endblock %}
    {% block ability_invisibility %}
        {% if 'ability.invisibility' in  ability %}checked{% endif %}
    {% endblock %}
    {% block ability_telepathy %}
        {% if 'ability.telepathy' in  ability %}checked{% endif %}
    {% endblock %}
    {% block ability_foreseeFuture %}
        {% if 'ability.foreseeFuture' in  ability %}checked{% endif %}
    {% endblock %}
    {% block ability_seeingPast %}
        {% if 'ability.seeingPast' in  ability %}checked{% endif %}
    {% endblock %}
    {% block ability_otherAbility %}
        {% if 'ability.other' in  ability %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block occupation_warrior %}
        {% if 'occupation.warrior' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_hunter %}
        {% if 'occupation.hunter' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_policeman %}
        {% if 'occupation.policeman' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_privateEye %}
        {% if 'occupation.privateEye' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_killer %}
        {% if 'occupation.killer' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_thief %}
        {% if 'occupation.thief' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_healer %}
        {% if 'occupation.healer' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_physician %}
        {% if 'occupation.physician' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_scholar %}
        {% if 'occupation.scholar' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_teacher %}
        {% if 'occupation.teacher' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_student %}
        {% if 'occupation.student' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_pupil %}
        {% if 'occupation.pupil' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_journalist %}
        {% if 'occupation.journalist' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_broker %}
        {% if 'occupation.broker' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_architect %}
        {% if 'occupation.architect' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_bard %}
        {% if 'occupation.bard' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_musician %}
        {% if 'occupation.musician' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_actor %}
        {% if 'occupation.actor' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_carMechanic %}
        {% if 'occupation.carMechanic' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_cook %}
        {% if 'occupation.cook' in  occupation %}checked{% endif %}
    {% endblock %}
    {% block occupation_otherOccupation %}
        {% if 'occupation.other' in  occupation %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block notHuman_biblicalCharacter %}
        {% if 'notHuman.biblicalCharacter' in  notHuman %}checked{% endif %}
    {% endblock %}
    {% block notHuman_mythologicalCreature %}
        {% if 'notHuman.mythologicalCreature' in  notHuman %}checked{% endif %}
    {% endblock %}
    {% block notHuman_otherNotHuman %}
        {% if 'notHuman.other' in  notHuman %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block mythology_celtic %}
        {% if 'mythology.celtic' in  mythology %}checked{% endif %}
    {% endblock %}
    {% block mythology_egyptian %}
        {% if 'mythology.egyptian' in  mythology %}checked{% endif %}
    {% endblock %}
    {% block mythology_greek %}
        {% if 'mythology.greek' in  mythology %}checked{% endif %}
    {% endblock %}
    {% block mythology_indian %}
        {% if 'mythology.indian' in  mythology %}checked{% endif %}
    {% endblock %}
    {% block mythology_norse %}
        {% if 'mythology.norse' in  mythology %}checked{% endif %}
    {% endblock %}
    {% block mythology_roman %}
        {% if 'mythology.roman' in  mythology %}checked{% endif %}
    {% endblock %}
    {% block mythology_slavic %}
        {% if 'mythology.slavic' in  mythology %}checked{% endif %}
    {% endblock %}
    {% block mythology_otherMythology %}
        {% if 'mythology.other' in  mythology %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block biblicalCharacter_angel %}
        {% if 'biblicalCharacter.angel' in  biblicalCharacter %}checked{% endif %}
    {% endblock %}
    {% block biblicalCharacter_devil %}
        {% if 'biblicalCharacter.devil' in  biblicalCharacter %}checked{% endif %}
    {% endblock %}
    {% block biblicalCharacter_demon %}
        {% if 'biblicalCharacter.demon' in  biblicalCharacter %}checked{% endif %}
    {% endblock %}
    {% block biblicalCharacter_otherBiblicalCharacters %}
        {% if 'biblicalCharacter.other' in  biblicalCharacter %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block mythologicalCreature_god %}
        {% if 'mythologicalCreature.god' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
    {% block mythologicalCreature_demigod %}
        {% if 'mythologicalCreature.demigod' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
    {% block mythologicalCreature_nymph %}
        {% if 'mythologicalCreature.nymph' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
    {% block mythologicalCreature_giant %}
        {% if 'mythologicalCreature.giant' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
    {% block mythologicalCreature_elf %}
        {% if 'mythologicalCreature.elf' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
    {% block mythologicalCreature_dwarf %}
        {% if 'mythologicalCreature.dwarf' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
    {% block mythologicalCreature_troll %}
        {% if 'mythologicalCreature.troll' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
    {% block mythologicalCreature_orc %}
        {% if 'mythologicalCreature.orc' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
    {% block mythologicalCreature_otherMythologicalCreatures %}
        {% if 'mythologicalCreature.other' in  mythologicalCreature %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block animalBeast_dragon %}
        {% if 'animalBeast.dragon' in  animalBeast %}checked{% endif %}
    {% endblock %}
    {% block animalBeast_griffin %}
        {% if 'animalBeast.griffin' in  animalBeast %}checked{% endif %}
    {% endblock %}
    {% block animalBeast_harpy %}
        {% if 'animalBeast.harpy' in  animalBeast %}checked{% endif %}
    {% endblock %}
    {% block animalBeast_thunderbird %}
        {% if 'animalBeast.thunderbird' in  animalBeast %}checked{% endif %}
    {% endblock %}
    {% block animalBeast_wolf %}
        {% if 'animalBeast.wolf' in  animalBeast %}checked{% endif %}
    {% endblock %}
    {% block animalBeast_bear %}
        {% if 'animalBeast.bear' in  animalBeast %}checked{% endif %}
    {% endblock %}
    {% block animalBeast_coyote %}
        {% if 'animalBeast.coyote' in  animalBeast %}checked{% endif %}
    {% endblock %}
    {% block animalBeast_hyena %}
        {% if 'animalBeast.hyena' in  animalBeast %}checked{% endif %}
    {% endblock %}
    {% block animalBeast_otherAnimalBeastCreatures %}
        {% if 'animalBeast.other' in  animalBeast %}checked{% endif %}
    {% endblock %}
{#-------------------------------------------------------------------------------------------------#}
    {% block otherCreature_vampire %}
        {% if 'otherCreature.vampire' in  otherCreature %}checked{% endif %}
    {% endblock %}
    {% block otherCreature_zombie %}
        {% if 'otherCreature.zombie' in  otherCreature %}checked{% endif %}
    {% endblock %}
    {% block otherCreature_alien %}
        {% if 'otherCreature.alien' in  otherCreature %}checked{% endif %}
    {% endblock %}
    {% block otherCreature_hobbit %}
        {% if 'otherCreature.hobbit' in  otherCreature %}checked{% endif %}
    {% endblock %}
    {% block otherCreature_otherCreature %}
        {% if 'otherCreature.other' in  otherCreature %}checked{% endif %}
    {% endblock %}



    {% block submitAdd %}
    {% endblock %}

    {% block submitEdit %}
        <button type="submit" name="submit" value="edit">Edit book </button>
    {% endblock %}

    {% block buttonsBlock %}

    {% endblock %}