{% extends '::characterfrombook/index.html.twig' %}

{% block title %}ShowCharacter{% endblock %}

    {% block paginationHead %}
        <th>{{ knp_pagination_sortable(characterFromBooks, 'Name', 'a.name') }}</th>
    {% endblock %}

    {% block paginationBody %}
        <td><a href="{{ path('fantasticbooks_showcharacter_show',
            { 'id': characterFromBook.id }) }}">{{ characterFromBook.name }}</a></td>
        {#<td>{{ characterFromBook.name }}</td>#}
    {% endblock %}