{% extends "::base.html.twig" %}

{% block sidenav %}
    <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="pl_PL"
         data-type="vertical" data-theme="dark" data-vanity="małgorzata-ostrowska-09217213a">
        <a class="LI-simple-link"
           href='https://pl.linkedin.com/in/ma%C5%82gorzata-ostrowska-09217213a?trk=profile-badge'>
            Małgorzata Ostrowska
        </a>
    </div>
{% endblock %}

{% block body %}
<h1>Hello</h1>

{% endblock %}
